extends ../../layout/default.pug
include ../../mixins/alert.pug

block main
    if(role.permission.includes("roles_create"))
        +alert-success(5000)
        +alert-error(5000)
        <div class="page-header">
            <h1>a </h1>
            <small>Admin / Users / Create</small>
        </div>
        .page-content
            .card.mb-3
                h1(class="mb-4") Thêm mới người dùng
                
                form(
                    action=`${prefixAdmin}/users/create`
                    method="POST"
                )
                    div(class="form-group")
                        label(for="lastName") Họ
                        input(
                            type="text"
                            class="form-control"
                            id="lastName"
                            name="lastName"
                            required
                            
                        )
                    div(class="form-group")
                        label(for="firstName") Tên
                        input(
                            type="text"
                            class="form-control"
                            id="firstName"
                            name="firstName"
                            required
                            
                        )
                    div(class="form-group")
                        label(for="email") Email
                        input(
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            
                            required
                        )
                    div(class="form-group")
                        label(for="password") Mật khẩu
                        input(
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            
                            required
                        )
                    div(class="form-group")
                        label(for="phone") Phone
                        input(
                            type="phone"
                            class="form-control"
                            id="phone"
                            name="phone"
                        
                            required
                        )
                    div(class="form-group")
                        label(for="address") Address
                        input(
                            type="address"
                            class="form-control"
                            id="address"
                            name="address"
                            
                        )
                    div(class="form-group")
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Tạo mới