extends ../../layout/default.pug

block main
    .page-header
        h1 Dashboard
        small Home / Users / Detail
    .page-content
        .card.mb-3
            h1(class="mb-4") Thông tin chi tiết người dùng

            
            img(src="https://res.cloudinary.com/dhe34q7cd/image/upload/v1720638146/qlyax21lpfnkiiwlh7cm.png" width="150px" class="mb-3")
            
            if(user.lastName && user.firstName)
                p Họ tên: <b>#{user.lastName} #{user.firstName}</b>
            
            if(user.email)
                p Email: <b>#{user.email}</b>
            
            if(user.phone)
                p Số điện thoại: <b>#{user.phone}</b>
            
            if(user.address)
                p Địa chỉ: <b>#{user.address}</b>
            p 
                span Trạng thái:
                span 
                    <b>#{user.status === "active" ? "Hoạt động" : "Dừng hoạt động"}</b>

        a(
            href=`${prefixAdmin}/users/edit/${user.id}`
            class="btn btn-primary"
        ) Chỉnh sửa thông tin