extends ../../layout/default.pug
include ../../mixins/alert.pug

block main
    if(role.permission.includes("roles_permissions"))
        +alert-success(5000)
        +alert-error(5000)  
        div(class="page-header")
            h1 a
            small Admin / Roles / Permissions
        .page-content 
            .card.mb-3 
                .card-header 
                    h4 Phân quyền
                if(records)
                    div(data-records=records)
                    .card-body
                        .row
                            .col-11
                            .col-1
                                button(
                                    type="submit"
                                    class="btn btn-primary mb-3"
                                    button-submit
                                ) Cập nhật
                        table(
                            width='100%'
                            table-permissions
                        )
                            thead 
                                tr 
                                    th Tính năng 
                                    each item in records 
                                        th(class="text-center") #{item.title}
                            tbody
                                
                                tr(data-name="id" class="d-none")
                                    td 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="text" value=item.id)
                                tr
                                    td(colspan="4")
                                        h5(style='color: black') Danh mục sản phẩm
                                tr(data-name="product-category_view")
                                    td Xem 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="product-category_create")
                                    td Thêm mới 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="product-category_edit")
                                    td Chỉnh sửa 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="product-category_delete")
                                    td Xóa 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                
                                //- San pham

                                tr 
                                    td(colspan="4")
                                        h5(style='color: black') Sản phẩm 
                                tr(data-name="product_view")
                                    td Xem 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="product_create")
                                    td Thêm mới 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="product_edit")
                                    td Chỉnh sửa 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="product_delete")
                                    td Xóa 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")

                                //- Order
                                tr 
                                    td(colspan="4")
                                        h5(style='color: black') Danh sách đơn hàng
                                tr(data-name="orders_view")
                                    td Xem 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="orders_create")
                                    td Thêm mới 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="orders_edit")
                                    td Chỉnh sửa 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="orders_delete")
                                    td Xóa 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")


                                //- Roles
                                tr 
                                    td(colspan="4")
                                        h5(style='color: black') Nhóm quyền 
                                tr(data-name="roles_view")
                                    td Xem 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="roles_create")
                                    td Thêm mới 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="roles_edit")
                                    td Chỉnh sửa 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="roles_delete")
                                    td Xóa 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                

                                //- Account
                                tr 
                                    td(colspan="4")
                                        h5(style='color: black') Danh sách tài khoản 
                                tr(data-name="accounts_view")
                                    td Xem 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="accounts_create")
                                    td Thêm mới 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="accounts_edit")
                                    td Chỉnh sửa 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="accounts_delete")
                                    td Xóa 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                
                                
                                
                                
                                tr(data-name="roles_permissions")
                                    td 
                                        h5(style='color: black') Phân quyền
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")

                                //- User
                                tr 
                                    td(colspan="4")
                                        h5(style='color: black') Danh sách người dùng 
                                tr(data-name="users_view")
                                    td Xem 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="users_create")
                                    td Thêm mới 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="users_edit")
                                    td Chỉnh sửa 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="users_delete")
                                    td Xóa 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")

                                //- Comment
                                tr 
                                    td(colspan="4")
                                        h5(style='color: black') Danh sách bình luận 
                                tr(data-name="comments_view")
                                    td Xem 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                tr(data-name="comments_delete")
                                    td Xóa 
                                    each item in records 
                                        td(class="text-center")
                                            input(type="checkbox")
                                
                        form(
                            id="form-change-permissions"
                            method="POST"
                            action=`${prefixAdmin}/roles/permissions?_method=PATCH`
                            class="d-none"
                        )
                            div(class="form-group")
                                input(
                                    type="text"
                                    class="form-control"
                                    name="permissions"
                                )

        script(src="/admin/js/roles.js")