extends ../../layout/auth.pug
include ../../mixins/alert.pug 

block main
    .container
        .left
            img.bg(src='https://res.cloudinary.com/dhe34q7cd/image/upload/v1720630202/o8nhmo8e3dptvipckb6a.jpg' alt='ảnh')
            .logo
                h1 Nông sản GK
            .left-content
                //- h1 LOGIN ADMIN PAGE
                //- a.btn(href='#') ĐĂNG KÝ
        .right
            h1 ĐĂNG NHẬP
            p.p1 Đăng nhập để tiếp tục quản lí Nông Sản GK.
            form.form(
                action=`${prefixAdmin}/auth/login`
                method="POST"
                )
                .input-box(class="form-group")
                    input.input(type="email"
                                class= "form-control"
                                id="email"
                                name="email"
                                required)
                    label(for='email') Email
                .input-box(class="form-group")
                    input.input(type="password"
                                class= "form-control"
                                id="password"
                                name="password"
                                required)
                    label(for='password') Password
                div(class="form-group")
                    button.btn-sec(type="submit"
                                   class="btn btn-primary btn-block") Đăng nhập
            //- p.p2 OR LOGIN WITH
            //- .social-media
            //-     a.s-btn.facebook(href='#')
            //-         i.fab.fa-facebook-square
            //-         | FACEBOOK
            //-     a.s-btn.google(href='#')
            //-         i.fab.fa-google
            //-         | GMAIL
            //-     a.s-btn.twitter(href='#')
            //-         i.fab.fa-twitter-square
            //-         | TWITTER
    




    
    
    //- .container.my-5 
    //-     .row.justify-content-center 
    //-         .col-8 
    //-             h1(class="text-center") Đăng nhập 
    //-             form(
    //-                 action=`${prefixAdmin}/auth/login`
    //-                 method="POST"
    //-             )
    //-                 div(class="form-group")
    //-                     label(for="email") Email 
    //-                     input(
    //-                         type="email"
    //-                         class= "form-control"
    //-                         id="email"
    //-                         name="email"
    //-                         required
    //-                     )
    //-                 div(class="form-group")
    //-                     label(for="password") Mật khẩu 
    //-                     input(
    //-                         type="password"
    //-                         class= "form-control"
    //-                         id="password"
    //-                         name="password"
    //-                         required
    //-                     )
    //-                 div(class="form-group")
    //-                     button(
    //-                         type="submit"
    //-                         class="btn btn-primary btn-block"
    //-                     ) Đăng nhập