extends ../../layout/default.pug
include ../../mixins/alert.pug

block main
    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Thông tin</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active text-white">Info</li>
        </ol>
    </div>
    <!-- Single Page Header End -->

    <!-- Contact Start -->
    +alert-error(3000)
    +alert-success(2000) 
    <div class="container-fluid contact py-5">
        <div class="container py-5">
            <div class="p-5 bg-light rounded">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="text-center mx-auto" style="max-width: 700px;">
                            <h1 class="text-primary">Thông tin tài khoản</h1>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        form(
                            action=`/user/info?_method=PATCH`
                            method="POST"
                        )
                            div(class="form-group")
                                label(for="lastName") Họ
                                input(type="text" class="w-100 form-control border-0 py-3 mb-4" id="lastName" name="lastName" value=user.lastName)
                            div(class="form-group")
                                label(for="firstName") Tên
                                input(type="text" class="w-100 form-control border-0 py-3 mb-4" id="firstName" name="FirstName" value=user.firstName)
                            div(class="form-group")
                                label(for="email") Email
                                input(type="email" class="w-100 form-control border-0 py-3 mb-4" id="email" name="email" value=user.email readonly)
                            div(class="form-group")
                                label(for="phone") Số điện thoại
                                input(type="phone" class="w-100 form-control border-0 py-3 mb-4" id="phone" name="phone" value=user.phone)
                            div(class="form-group")
                                label(for="address") Địa chỉ
                                input(class="w-100 form-control border-0 mb-4" rows="5" cols="5" id="address" name="address" value=user.address)
                            div(class="form-group")
                                <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary" type="submit">Cập nhật thông tin</button>
        
                    </div>
                    <div class="col-lg-5">
                        <div class="d-flex p-4 rounded mb-4 bg-white">
                            <i class="fas fa-user-tie fa-2x text-primary me-4"></i>
                            <div>
                                <h4>Họ và tên</h4>
                                <p class="mb-2">#{user.lastName} #{user.firstName}</p>
                            </div>
                        </div>
                
                        <div class="d-flex p-4 rounded mb-4 bg-white">
                            <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                            <div>
                                <h4>Email</h4>
                                <p class="mb-2">#{user.email}</p>
                            </div>
                        </div>
                        <div class="d-flex p-4 rounded bg-white">
                            <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
                            <div>
                                <h4>Số điện thoại</h4>
                                <p class="mb-2">#{user.phone}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->