extends ../../layout/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug

block main
    .page-header
        h1 Dashboard
        small Home / Dashboard
    .page-content
        .analytics
            .card
                .card-head
                    h2 #{statistic.user.total}
                    span.las.la-user-friends
                .card-progress
                    h4 Người dùng <br>
                    small Hoạt động: <b> #{statistic.user.active}</b> <br>
                    small Dừng hoạt động: <b> #{statistic.user.inactive}</b>
                    
            .card
                .card-head
                    h2 #{statistic.categoryProduct.total}
                    span.lab.la-buromobelexperte
                .card-progress
                    h4 Danh mục sản phẩm <br>
                    small Hoạt động: <b> #{statistic.categoryProduct.active}</b> <br>
                    small Dừng hoạt động: <b> #{statistic.categoryProduct.inactive}</b>
                       
            .card
                .card-head
                    h2 #{statistic.order.total}
                    span.las.la-shopping-cart
                .card-progress
                    h4 Danh sách đơn hàng <br>
                    small Chưa xử lý: <b> #{statistic.order.not_delivery}</b> <br>
                    small Đã xử lý: <b> #{statistic.order.delivered}</b>
                       
            .card
                .card-head
                    h2 #{statistic.product.total}
                    span.las.la-apple-alt
                .card-progress
                    h4 Sản phẩm <br>
                    small Hoạt động: <b> #{statistic.product.active}</b> <br>
                    small Dừng hoạt động: <b> #{statistic.product.inactive}</b>
                        
        .card.mb-3
            
            .records.table-responsive
                .record-header
                    h5 Danh sách đơn hàng [ Chưa Xử Lý ]
                    .add
                        a(href=`${prefixAdmin}/orders`) 
                            button Đến trang quản lý đơn hàng
            div
                table(width='100%')
                    thead
                        tr
                            th STT
                            th
                                
                                | Ngày tạo 
                            th
                                
                                |  Tên khách hàng
                            th
                                
                                |  Địa chỉ
                            th
                                
                                |  Tổng tiền
                            th
                                
                                |  Loại thanh toán
                            th
                                
                                |  Tình trạng 
                            th
                                
                                |  Hành động 
                    tbody
                        each item,index in orders
                            if(item.status == "not_delivery")
                                tr
                                    td #{pagination.limitItems*(pagination.currentPage - 1)+(index+1)}
                                    td #{item.createdAt}
                                        
                                    td #{item.userInfo.lastName} #{item.userInfo.firstName}
                                    td #{item.userInfo.address}
                                    td #{item.total}
                                    if(item.Payments == "Payments")
                                        td Tiền mặt
                                    
                                    td
                                        if(role.permission.includes("orders_edit"))
                                            if(item.status == "not_delivery")
                                                a(
                                                    href="javascript:;"
                                                    data-status=item.status
                                                    data-id= item.id
                                                    button-change-status
                                                    class="badge badge-danger"
                                                ) Chưa giao hàng
                                            else 
                                                a(
                                                    href="javascript:;"
                                                    data-status=item.status
                                                    data-id= item.id
                                                    button-change-status 
                                                    class="badge badge-success"
                                                ) Đã giao hàng
                                        else 
                                            if(item.status == "not_delivery")
                                                a(
                                                    
                                                    data-status=item.status
                                                    data-id= item.id
                                                    
                                                    class="badge badge-danger"
                                                ) Chưa giao hàng
                                            else 
                                                a(
                                                    
                                                    data-status=item.status
                                                    data-id= item.id
                                                        
                                                    class="badge badge-success"
                                                ) Đã giao hàng
                                    td 
                                        a(
                                            href=`${prefixAdmin}/orders/detail/${item.id}`
                                            class="btn btn-secondary btn-sm"
                                        ) Chi tiết

        +pagination(pagination)
                            
                            
