//- .sider
//-     .inner-menu 
//-         ul 
//-             li 
//-                 a(href=`${prefixAdmin}/dashboard`) Tổng quan 
//-             li 
//-                 a(href=`${prefixAdmin}/product-category`) Danh mục sản phẩm  
//-             li 
//-                 a(href=`${prefixAdmin}/products`) Danh sách sản phẩm 
//-             li 
//-                 a(href=`${prefixAdmin}/roles`) Nhóm quyền
//-             li 
//-                 a(href=`${prefixAdmin}/roles/permissions`) Phân quyền

input#menu-toggle(type='checkbox')
.sidebar
  .side-header
    h3
      | A
      span dmin
  .side-content
    
    .side-menu
      ul
        li
          a(href=`${prefixAdmin}/dashboard`)
            span.las.la-home
            small Tổng quan
        if(role.permission.includes("orders_view"))
          li 
            a(href=`${prefixAdmin}/orders`)
              span.las.la-shopping-cart 
              small Danh sách đơn hàng
        if(role.permission.includes("product_view"))
          li
            a(href=`${prefixAdmin}/products`)
              span.las.la-clipboard-list
              small Danh sách sản phẩm
        if(role.permission.includes("product-category_view"))
          li
            a(href=`${prefixAdmin}/product-category`)
              span.las.la-clipboard-list
              small Danh mục sản phẩm
        
        if(role.permission.includes("roles_view"))
          li
            a(href=`${prefixAdmin}/roles`)
              span.las.la-tasks
              small Nhóm quyền
        if(role.permission.includes("roles_permissions"))
          li
            a(href=`${prefixAdmin}/roles/permissions`)
              span.las.la-tasks
              small Phân quyền
        if(role.permission.includes("accounts_view"))
          li
            a(href=`${prefixAdmin}/accounts`)
              span.las.la-user-alt
              small Danh sách tài khoản
        if(role.permission.includes("users_view"))
          li 
            a(href=`${prefixAdmin}/users`)
              span.las.la-user-alt 
              small Danh sách người dùng
        
        
        